[Unit]
Description=HiDRA Control Server for %i
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
WorkingDirectory=/opt/hidra
User=hidra
ExecStart=/opt/hidra/src/hidra_control/hidra_control_server.py --beamline %i --verbose

[Install]
WantedBy=multi-user.target
