[Unit]
Description=HiDRA for %i
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
WorkingDirectory=/opt/hidra
User=%iuser
ExecStart=/opt/hidra/src/sender/DataManager.py --verbose --config_file /opt/hidra/conf/%i.conf

[Install]
WantedBy=multi-user.target
