[Unit]
Description=HiDRA for %i
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
WorkingDirectory=/opt/HiDRA
User=%iuser
ExecStart=/opt/HiDRA/src/sender/DataManager.py --verbose --configFile /opt/HiDRA/conf/%i.conf

[Install]
WantedBy=multi-user.target
