[Unit]
Description=ZMQ data transfer
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
WorkingDirectory=/root/zeromq-data-transfer
ExecStart=/root/zeromq-data-transfer/src/sender/DataManager.py --verbose --configFile /root/zeromq-data-transfer/conf/%i.conf

[Install]
WantedBy=multi-user.target
