[Unit]
Description=HiDRA for %i
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
WorkingDirectory=/opt/hidra
ExecStart=/opt/hidra/src/hidra/sender/datamanager.py --verbose --config_file /opt/hidra/conf/datamanager_%i.yaml

[Install]
WantedBy=multi-user.target
